<!DOCTYPE html>
<html>
<head>
	<title>Trip Planner</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Acme|Josefin+Slab" rel="stylesheet">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">       
	<link rel="stylesheet" type="text/css" href="/css/dropstyle.css">       
    </script>
</head>
<body>
	<div class="container text-center">
		<h1>Trip Planner</h1>
		<p class="lead sub-heading">Plan your trip to be cheapest</p>
	</div>
	<%- defineContent('index') %>
	<%- defineContent('results') %>
	</body>
</html>
