<%- contentFor('results') %>
	
	<div class="container details text-primary">
		
		<table class="table table-bordered">
		<tr>
			<% for (s of sorted){ %>
			<td><%= s %></td>
			<% } %>

		</tr>
		<tr>
			<td>Uber</td>
			<% for (u of uber){ %>
			<td><%= u %></td>
			<% } %>
		</tr>
		<tr>
			<td>Lyft</td>
			<% for (l of lyft){ %>
			<td><%= l %></td>
			<% } %>
		</tr>
		</table>
	</div>
